# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [8]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

query1 = """
        SELECT ch.id AS cardholder_id,
        t.date AS date,
        t.amount AS amount
        FROM transaction AS t
        JOIN credit_card AS cc ON cc.card = t.card
        JOIN card_holder AS ch ON ch.id = cc.cardholder_id
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
df = pd.read_sql(query1, engine)
df

      cardholder_id                date  amount
0                13 2018-01-01 21:35:10    6.22
1                13 2018-01-01 21:43:12    3.83
2                10 2018-01-01 22:41:21    9.61
3                 4 2018-01-01 23:13:30   19.03
4                18 2018-01-01 23:15:10    2.95
...             ...                 ...     ...
3495             15 2018-12-31 01:24:15    4.84
3496             10 2018-12-31 03:33:28    3.26
3497             19 2018-12-31 05:53:58   10.73
3498             23 2018-12-31 08:22:17   11.87
3499             15 2018-12-31 09:50:25   19.75

[3500 rows x 3 columns]

In [24]:
# Write function that locates outliers using standard deviation
def transaction(input_id):
    return df.loc[df['cardholder_id']==input_id, 'amount']

def outlier(input_id):
    df1 = transaction(input_id)
    return pd.DataFrame(df1[df1> df1.mean()+3*df1.std()])

In [25]:
# Find anomalous transactions for 3 random card holders
random = np.random.randint(1,25,3)

for id in random:
    if len(outlier(id)) == 0:
        print(f"Found cardholder {id} had no outliers.")
    else:
        print(f"Found cardholder {id} had the following outliers:\n{outliers(id)}.")

Found cardholder 2 had no outliers.
Found cardholder 22 had no outliers.
Found cardholder 3 had the following outliers:
      amount
1886  1159.0
1913  1160.0.

## Identifying Outliers Using Interquartile Range

In [28]:
# Write a function that locates outliers using interquartile range

In [27]:
# Find anomalous transactions for 3 random card holders